
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #141414;
  color: #e8e8e8;
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: #e8e8e8
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}



/*
===========
Search Page
===========
*/

.search-form {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.form-input {
  width: 100%;
  border: 1px transparent;
  max-width: 600px;
  background: #e8e8e8;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #324d67;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}


.categories {
  border: 1px transparent;
  max-width: 600px;
  background: #e8e8e8;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: hsl(209, 34%, 30%);
  margin-top: 1rem;
  margin-left: 1rem;
}

.form-input:focus, .categories:focus {
  outline: none !important;
  border:#252580;
  box-shadow: 0 0 14px #3535b8;
}

.movies {
  width: 90vw;
  max-width: 1170px;
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  padding-bottom: 5rem;
  padding-top: 3rem;
}

.movie {
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover;
}

.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.6);
  transform: translateY(100%);
  transition: all 0.3s linear;
}

.movie-info h4 {
  color: #e8e8e8;
  margin-bottom: 0.25rem;
}

.movie-info p {
  margin-bottom: 0;
  color: #e8e8e8;
}

.movie:hover {
  box-shadow: 0 0 14px #e8e8e8;
  transition: 0.3s;
}

.movie:hover .movie-info {
  transform: translateY(0);
}

.singlePageBut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  color: #FF6257;
}

.singlePageBut button {
  padding: 8px;
  margin: 4px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-style: none;
  outline-style: none;
}

.singlePageBut button:hover{
  cursor: pointer;
}

.singlePageBut button i {
  margin-top: 4px;
  font-size: 24px;
}

.white {
  color: #e8e8e8;
}

@media screen and (min-width: 576px) {
  .movies {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}

.errorMessage{
  margin-top: 25vh;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .categories{
    margin-left: 0;
  }
}


/*
=================
Single Movie Page
=================
*/

.titles {
  margin: auto;
  text-align: center;
}

.container .titles h4 {
  margin: 8px;
}


.container{
  margin: auto;
  margin-top: 44px;
  width: 98vw;
  padding: 16px;
}

.mediaData {
  width: 90vw;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  margin: 2rem auto;
}

.poster {
  width: 100%;
  height: 100%;
}

.player {
  width: 100%;
  height: 100%;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 16px;
  border: 1px solid #2d3142;
  color: #bfc0c0;
}

.data h4 {
  line-height: 1.5;
  margin: 4px 0 4px 0;
}

.data h4 span {
  color: #95A3DB;
  cursor: pointer;
}

.plot {
  display: flex;
  align-items: center;
  border: 1px solid #2d3142;
  padding: 8px;
  color: #bfc0c0;
}

.plot h4 {
  line-height: 1.5;
  margin: 4px 0 4px 0;
  font-size: large;
}

.footer {
  padding: 16px;
}

.footer .mayLike div {
  margin: auto;
  margin-bottom: 8px;
  text-align: center;
}

.footer .mayLike ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 20px;
}

.footer .mayLike ul li  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  padding: 2px 8px;
  height: 60px;
  text-align: center;
  width: 160px;
  overflow-wrap: break-word;
  border-radius: 20px;
  background-color: #2d3142;
}

.footer .mayLike ul li a {
  color: #95A3DB;
}

.footer .mayLike ul li a :hover{
  color: #e8e8e8
}


@media screen and (max-width: 600px) {

  .container h1 {
    font-size: medium;
  }

  .poster {
    display: none;
  }

  .mediaData {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem auto;
  }

  

  .plot {
    padding: 12px;
    max-width: 90vw;
  }
  
  .plot h4 {
    line-height: 1.5;
    margin: 4px 0 4px 0;
    font-size: small;
  }

  .footer {
    margin: 0 4px 4px 4px;
    padding: 0 2px 8px 2px;
    max-width: 90vw;
  }

  .footer .mayLike ul {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr;
    gap: 0.5rem; 
    margin-right: 50%;
    margin-left: 50%;
  }

  .footer .mayLike ul li {
    margin: 0;
    height: 2.5rem;
  }
}

/*
=============
My favorites
=============
*/
.Favorites {
  min-height: 90vh;
}

.myFavorites {
  margin-top: 40px;
  text-align: center;
}

/*
============
Landing Page
============
*/

.landingPage {
  margin-top: 40px;
  height: 120vh;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: #040404;
  padding: 10px;
}

.landingPage > div {
  background-color: #141414;
  color: #bfc0c0;
  border: 1px solid #bfc0c0; 
}

.headerL {
  grid-column: 1/13; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
}

.menuL {
  grid-column: 1/5; 
  grid-row: 2/7;
  display: flex;
  flex-wrap: wrap; 
 }

 .tv {
  padding: 16px; 
  grid-row: 2/5;
  grid-column: 5/10; 
  display: grid;
  grid-column: repeat(3, 1fr);
  grid-row: repeat(8, 1fr);
  gap: 4px;
}

.tvHeader {
  grid-column: 1/4;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tv .tvHeader h3 {
  margin: 0;
}

.tvDexter {
  grid-row: 2/9;
  grid-column: 1;
  background: url(./Pages/img/dexter.jpg) no-repeat center center/cover;

}

.tvfrinds{
  grid-row: 2/9;
  grid-column: 2;
  background: url(./Pages/img/frinds.jpg) no-repeat center center/cover;
}

.tvGameOfThrones {
  grid-row: 2/9;
  grid-column: 3;
  background: url(./Pages/img/gameOfThrones.jpg) no-repeat center center/cover;
}


.actorsL {
  padding: 16px;
  grid-row: 2/5;
  grid-column: 10/13; 
  display: grid;
  grid-column: repeat(3, 1fr);
  grid-row: repeat(8, 1fr);
  gap: 4px;
}

.actorsHeader {
  grid-row: 1;
  grid-column: 1/4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eastwood {
  grid-row: 2/9;
  grid-column: 1/4;
  background: url(./Pages/img/eastwood.jpg) no-repeat center center/contain;
}

/* .monroe {
  background: url(./Pages/img/monroe.jpg)no-repeat center center/contain;
 }  */

.moviesL {
  grid-column: 5/13; 
  grid-row: 5/7;
  display: grid;
  gap: 0px;
 /*  */
}

.headerL h1 {
  color: white;
}


.tvImage {
  filter: grayscale(75%);
}








.movieJoker {
  /* grid-area: image1; */
  background: url(./Pages/img/joker.jpg)no-repeat center center/contain;
}

.movieGurdians{
  /* grid-area: image2; */
  background: url(./Pages/img/gurdians.jpg)no-repeat center center/contain;
}

.movieIsntItRomantic{
  background: url(./Pages/img/romantic.jpg)no-repeat center center/contain;
  /* grid-area: image3; */
}

.movieCatchMe {
  background: url(./Pages/img/catchMe.jpg)no-repeat center center/contain;
  /* grid-area: image4; */
}

.movieMemento {
  background: url(./Pages/img/memento.jpg)no-repeat center center/contain;
  /* grid-area: image5; */
}

.movieBackToThe {
  background: url(./Pages/img/backToTheFuture.jpg)no-repeat center center/contain;
  /* grid-area: image6; */
}

.movieHeader {
  /* grid-area: headline; */
}

.howItWorks {
  /* max-width: 16.6vw; */
}